-# TODO: submit pull-request to add 'reorder' on datatable, if column :position exists.
-# form.number_field :position, label: "Navigation bar ordering. (1-100) Relative ordering among other pages and page-like objects (e.g., blog). Load page with #{link_to "debugging=true", root_path(debugging: "true"), target: "_blank" } to see existing position numbers."
-#form.text_field :page_background_image, label: "Page Background Image (Must be precisely edited, to upload.)"