%p You belong to the following community groups: #{'none' if user.mates.length == 0}

%ul
  - user.mates.each do |mate|
    %li #{link_to(mate.community, '#')} as a <strong>#{mate.roles.first}</strong>.

= render 'mates/roles'
