@import "font-awesome";

*{ font-family: "HaasGrotDisp" !important; }
body{
    background-color: rgb(107, 203, 255) !important;
}

p {
  text-align:justify;
}

@font-face {
    font-family:'HaasGrotDisp';
    src: url(asset-path('HaasGrotDisp-45Light.eot'));
    src: url(asset-path('HaasGrotDisp-45Light.eot?#iefix')) format("embedded-opentype"),
         url(asset-path('HaasGrotDisp-45Light.ttf')) format("truetype"),
         url(asset-path('HaasGrotDisp-45Light.woff')) format("woff"),
         url(asset-path('HaasGrotDisp-45Light.svg#icofonts')) format("svg");
}