@import "font-awesome";

*{ font-family: "Apercu" !important; }
body{
    background-color: #2782bb !important;
}

p {
  text-align:justify;
}

@font-face {
    font-family:'HaasGrotDisp';
    src: url(asset-path('HaasGrotDisp-35Thin.eot'));
    src: url(asset-path('HaasGrotDisp-35Thin.eot?#iefix')) format("embedded-opentype"),
         url(asset-path('HaasGrotDisp-35Thin.ttf')) format("truetype"),
         url(asset-path('HaasGrotDisp-35Thin.woff')) format("woff"),
         url(asset-path('HaasGrotDisp-35Thin.svg#icofonts')) format("svg");
}
@font-face {
    font-family:'Apercu';
    src: url(asset-path('ApercuPro-Regular.eot'));
    src: url(asset-path('ApercuPro-Regular.eot?#iefix')) format("embedded-opentype"),
         url(asset-path('ApercuPro-Regular.ttf')) format("truetype"),
         url(asset-path('ApercuPro-Regular.woff')) format("woff"),
         url(asset-path('ApercuPro-Regular.svg#icofonts')) format("svg");
}

@font-face {
    font-family:'KohinoorTelugu';
    src: url(asset-path('KohinoorTelugu.eot'));
    src: url(asset-path('KohinoorTelugu.eot?#iefix')) format("embedded-opentype"),
         url(asset-path('KohinoorTelugu.ttf')) format("truetype"),
         url(asset-path('KohinoorTelugu.woff')) format("woff"),
         url(asset-path('KohinoorTelugu.svg')) format("svg");
}

.effective-post h2.post-title * {
  font-size: 20pt;
}
.row div .effective-posts {
  padding-right: 10%;
}